section {
  line-height: 2;
  .title {
    font-weight: bold;
    font-size: 16px;
  }
  .subTitle {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
  }
  .part {
    margin: 10px 0;
    font-size: 14px;
  }
}
